@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

:root {
  --base-50: oklch(0.9846 0.0019 10.86);
  --base-100: oklch(0.9696 0.0038 11.06);
  --base-200: oklch(0.9219 0.0077 11.12);
  --base-300: oklch(0.8696 0.0115 11.25);
  --base-400: oklch(0.7081 0.0173 11.23);
  --base-500: oklch(0.563 0.0231 11.59);
  --base-600: oklch(0.44 0.0212 11.9);
  --base-700: oklch(0.3715 0.0173 11.69);
  --base-800: oklch(0.2687 0.0115 11.24);
  --base-900: oklch(0.2071 0.0077 11.19);
  --base-950: oklch(0.1453 0.0058 10.83);
  --base-1000: oklch(0.1051 0.0038 10.94);

  --primary-50: oklch(0.969 0.015 12.42);
  --primary-100: oklch(0.941 0.03 12.58);
  --primary-200: oklch(0.892 0.058 10);
  --primary-300: oklch(0.81 0.117 11.64);
  --primary-400: oklch(0.712 0.194 13.43);
  --primary-500: oklch(0.645 0.246 16.44);
  --primary-600: oklch(0.586 0.253 17.59);
  --primary-700: oklch(0.514 0.222 16.94);
  --primary-800: oklch(0.455 0.188 13.7);
  --primary-900: oklch(0.41 0.159 10.28);
  --primary-950: oklch(0.271 0.105 12.1);
  --primary-1000: oklch(0.181 0.07 13.28);

  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-400);
  --primary-foreground: var(--color-black);
  --secondary: var(--base-200);
  --secondary-foreground: var(--base-950);
  --muted: var(--base-100);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-400);
  --chart-1: var(--primary-400);
  --chart-2: var(--primary-200);
  --chart-3: var(--primary-400);
  --chart-4: var(--primary-300);
  --chart-5: var(--primary-100);
  --radius: 0rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-400);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-50);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-400);
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-900);
  --card-foreground: var(--base-200);
  --popover: var(--base-900);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-400);
  --primary-foreground: var(--color-black);
  --secondary: var(--base-700);
  --secondary-foreground: var(--base-50);
  --muted: var(--base-800);
  --muted-foreground: var(--base-300);
  --accent: var(--base-800);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-400);
  --chart-1: var(--primary-400);
  --chart-2: var(--primary-200);
  --chart-3: var(--primary-400);
  --chart-4: var(--primary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-400);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-400);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@font-face {
	font-family: BasierSquareMono;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/BasierSquareMono.woff2) format('woff2');
}

@layer base {
	* {
		@apply border-border;
		font-family: 'BasierSquareMono', monospace;
	}

	body {
		@apply bg-background text-foreground;
	}
}
