@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@layer base {
		:root {
			--flexoki-bg: 48 100% 97%;
			--flexoki-bg-2: 51 33% 92%;

			--flexoki-ui: 51 21% 88%;
			--flexoki-ui-2: 50 14% 83%;
			--flexoki-ui-3: 55 10% 79%;

			--flexoki-tx: 0 3% 6%;
			--flexoki-tx-2: 50 3% 42%;
			--flexoki-tx-3: 49 7% 70%;

			--flexoki-re: 3 62% 42%;
		}

		.dark {
			--flexoki-bg: 0 3% 6%;
			--flexoki-bg-2: 30 4% 11%;

			--flexoki-ui: 30 3% 15%;
			--flexoki-ui-2: 40 3% 20%;
			--flexoki-ui-3: 30 3% 24%;

			--flexoki-tx: 55 10% 79%;
			--flexoki-tx-2: 43 3% 52%;
			--flexoki-tx-3: 45 2% 33%;

			--flexoki-re: 5 61% 54%;
		}

		:root {
			--background: var(--flexoki-bg);
			--foreground: var(--flexoki-tx);
			--card: var(--flexoki-bg);
			--card-foreground: var(--flexoki-tx);
			--popover: var(--flexoki-bg);
			--popover-foreground: var(--flexoki-tx);
			--primary: var(--flexoki-tx);
			--primary-foreground: var(--flexoki-bg);
			--secondary: var(--flexoki-ui-2);
			--secondary-foreground: var(--flexoki-tx-2);
			--muted: var(--flexoki-bg-2);
			--muted-foreground: var(--flexoki-tx-3);
			--accent: var(--flexoki-ui);
			--accent-foreground: var(--flexoki-tx-2);
			--destructive: var(--flexoki-re);
			--destructive-foreground: var(--flexoki-bg);
			--border: var(--flexoki-ui-2);
			--input: var(--flexoki-ui-2);
			--ring: var(--flexoki-ui-3);
			--radius: 0rem;
		}

		:root {
			--sidebar-background: 0 0% 98%;
			--sidebar-foreground: 240 5.3% 26.1%;
			--sidebar-primary: 240 5.9% 10%;
			--sidebar-primary-foreground: 0 0% 98%;
			--sidebar-accent: 240 4.8% 95.9%;
			--sidebar-accent-foreground: 240 5.9% 10%;
			--sidebar-border: 220 13% 91%;
			--sidebar-ring: 217.2 91.2% 59.8%;
		}

		.dark {
			--sidebar-background: 240 5.9% 10%;
			--sidebar-foreground: 240 4.8% 95.9%;
			--sidebar-primary: 224.3 76.3% 48%;
			--sidebar-primary-foreground: 0 0% 100%;
			--sidebar-accent: 240 3.7% 15.9%;
			--sidebar-accent-foreground: 240 4.8% 95.9%;
			--sidebar-border: 240 3.7% 15.9%;
			--sidebar-ring: 217.2 91.2% 59.8%;
		}
	}
}

@font-face {
	font-family: BasierSquareMono;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/BasierSquareMono.woff2) format('woff2');
}

@layer base {
	* {
		@apply border-border;
		font-family: 'BasierSquareMono', monospace;
	}

	body {
		@apply bg-background text-foreground;
	}
}
